#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

}

h3 {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1rem;
  color: #5B94D0;
}
